div#grid {
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-gap: 64px;
	background-color: white;
	width: 100vw;
	padding-bottom: 64px;
}

@media screen and (min-width: 784px) {
	div#grid {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
}

div#top {
	display: flex;
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	background-color: #D00013;
	height: 160px;
}

div#branding {
	display: flex;
	justify-content: center;
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	max-height: 160px;
}

div#navigation {
	display: none;
}

div#information {
	display: none;
}

@media screen and (min-width: 784px) {
	div#branding {
		display: flex;
		grid-column: 2 / -2;
		grid-row: 1 / 2;
		height: 100%;
	}

	div#navigation {
		display: flex;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	div#information {
		display: flex;
		grid-column: -3 / -2;
		grid-row: 1 / 2;
		align-items: flex-end;
		text-align: right;
		padding: 8px;
	}
}

div.record {
	display: flex;
	width: 100%;
	min-height: 240px;
}

div.a {
	grid-column: 2 / 3;
}

div.b {
	grid-column: 2 / 3;
}

div.c {
	grid-column: 2 / 3;
}

div.empty {
	grid-column: 2 / 3;
	background-color: #d1d8e0;
}

@media screen and (min-width: 784px) {
	div.b {
		grid-column: 3 / 4;
	}
	
	div.c {
		grid-column: 4 / 5;
	}
}