/* Import local stylesheets */
@import url("grid.css");
/* Import fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
	margin: 0;
	overflow-x: hidden;
}

img {
	max-height: 100%;
	max-width: 100%;
}

img#logo {
	min-width: 340px;
}

p {
	font-family: "Open Sans", sans-serif;
	line-height: 1em;
	margin: 8px 0;
}

p.artist {

}

p.album {
	font-weight: bold;
}

p.links {
	padding-top: 8px;
	font-size: 1.6em;
}

p.info {
	font-weight: bolder;
	font-size: 1.5em;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a {
	color: black;
	cursor: pointer;
	text-decoration: none;
}

#navigation a {
	padding-left: 8px;
	font-size: 2em;
}